*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection
{
    background: #2f0f54;
    color: #fff;
}
html,body
{
    overflow: hidden;
    background: #111;
}
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  animation: top 0.5s forwards;
}
.toggle
{
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    position: relative;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.hero
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #8e2ae0, #2f0f54);
    transition: 0.5s;
    z-index: 2;
}
.hero.active
{
  right: 300px;
}
.content
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content .text
{
  position: relative;
  z-index: 10;
}
.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  text-transform: capitalize;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #8e2ae0;
  letter-spacing: 1.2px;
  transition: 0.4s;
  border-radius: 40px;
}
.text a:hover
{
    color: #fff;
    background: #2f0f54;
}
.image
{
    position: relative;
    width: 700px;
}
img
{
    width: 100%;
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  margin-bottom: 60px;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
.menu ul li a:hover
{
  color: #8e2ae0; 
}
@media (max-width: 991px)
{
  .hero,
  .hero header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .content
  {
      display: flex;
      flex-direction: column;
  }
  .image
  {
      width: 0;
  }
}